<div class="section section-presentation">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="description">
					<h3 class="">华炎云盘，无需再为外部共享而烦恼</h3>
					<p>
						轻松与外部协作者共享文件,并在共享过程的每个步骤中保护内容安全。
					</p>
				</div>
			</div>
			<div class="col-md-12 text-center">
				<img src="/cn/libs/img/drive/sharing.png" style="width: 300px" />
			</div>
		</div>
		<hr>
	</div>
</div>
<div class="section section-presentation">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="description">
					<h3 class="">与外部协作者共享同步的力量</h3>
					<p>
						与合作伙伴、客户和供应商合作，是确保您公司取得成功的基本要素，但合作并非易事。您是否尝试过向团队外部的人员发送时长一小时的视频或海量的图片文件?
					</p>
					<p>
						如果有这样的经历，您就应该了解他们为了获得这些文件而被迫下载专门的软件或注册其他服务的痛苦。
					</p>
					<p>
						通过华炎云盘，您可轻松与外部协作者共享文件，同时确保在此过程的每一步中，您的内容都安全无虞。
					</p>
				</div>
			</div>
			<div class="col-md-offset-1 col-md-6">
				<img src="/cn/libs/img/drive/cloud4.png"/>
			</div>
		</div>
		<hr>
	</div>
</div>
<div class="section section-presentation">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-md-offset-1" style="float: right;">
				<div class="description">
					<h3 class="">文件随心发送，不带任何限制</h3>
					<p>
						华炎云盘可让您轻松共享任何类型的文件。
					</p>
					<p>
						您可以创建指向华炎云盘中任意文件的链接，然后将其发送给团队内外的任何人。
					</p>
					<p>
						没有文件类型限制，没有操作系统要求，也没有文件大小限制。不论是发送小的Word文档，还是发送高达几个GB的高清视频，都能轻松搞定。
					</p>
					<p>
						无需安装软件和浏览FTP服务器，也不会堵塞收件箱，您的收件人可以直接访问最新版本的文件。
					</p>
				</div>
			</div>
			<div class="col-md-6">
				<img src="/cn/libs/img/drive/sharing2.png"/>
			</div>
		</div>
		<hr>
	</div>
</div>
<div class="section section-presentation">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="description">
					<h3 class="">与任何人都能合作处理文件</h3>
					<p>
						不费吹灰之力，即可为内外协作者创建共享工作区。
					</p>
					<p>
						您只需设置共享文件夹、邀请用户加入，所有人随即便可自动获得最新版本的项目文件。团队外部的合作伙伴不管是使用商业版本还是免费套餐，都可以加入。
					</p>
					<p>
						同时由于我们所掌握的可靠同步技术，共享文件夹中的每一个成员都可获得同样快捷、轻松的体验，不会受到任何带宽或技术方面的限制。
					</p>
				</div>
			</div>
			<div class="col-md-offset-1 col-md-6">
				<img src="/cn/libs/img/drive/mobile2.png"/>
			</div>
		</div>
		<hr>
	</div>
</div>
<div class="section section-presentation">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-md-offset-1" style="float: right;">
				<div class="description">
					<h3 class="">保护内容安全，哪怕内容已经离开您的组织</h3>
					<p>
						您没有时间来担心哪些人在访问敏感的公司信息。利用共享控件，您可以决定是否允许数据离开您的组织，以及通过何种方式离开。
					</p>
					<p>
						共享文件夹和共享链接会按照您设置的策略运行，您更可利用共享审核日志来跟踪单击共享链接的人。
					</p>
					<p>
						此外，用户还可以在想要阻止访问时删除链接。
					</p>
				</div>
			</div>
			<div class="col-md-6">
				<img src="/cn/libs/img/drive/sharing3.png"/>
			</div>
		</div>
	</div>
</div>

