<div class="parallax filter-gradient gray submodule" data-color="gray">
	<div class="parallax-background">
        <img class="parallax-background-image" src="/cn/libs/img/banner/traveling_large.jpg">
    </div>
    <div class= "container">
        <div class="row">
            <div class="description">
                <h2>部分成功案例</h2>
                <br>
            </div>
        </div>
    </div>
</div>
<div class="container success-cases">
	<div>
		<h4>集团</h4>
		<ul>
			<li>上海大众公用(集团)有限公司</li>
			<li>旺旺(中国)投资有限公司</li>
			<li>上海燃气集团</li>
			<li>河北港口集团</li>
			<li>抚顺石油化工集团</li>
			<li>山东华鲁恒升集团</li>
			<li>上海理想信息产业有限公司</li>
			<li>江苏大众水务集团有限公司</li>
			<li>香港瑞意集团</li>
		</ul>
	</div>
	<div>
		<h4>交通运输</h4>
		<ul>
			<li>宁波港北仑第二集装箱有限公司</li>
			<li>秦皇岛港股份有限公司</li>
			<li>曹妃甸冀港煤炭港务有限公司</li>
			<li>沧州渤海港务有限公司</li>
			<li>秦皇岛海运煤炭市场有限公司</li>
			<li>渤海津冀港口投资发展有限公司</li>
			<li>河北环渤海煤炭交易中心有限公司</li>
			<li>哈尔滨大众交通</li>
			<li>上海巴士第三公共交通有限公司</li>
			<li>上海翔殷路隧道建设发展有限公司</li>
			<li>义乌市交通发展有限责任公司第一分公司</li>
		</ul>
	</div>
	<div>
		<h4>能源</h4>
		<ul>
			<li>中国石油抚顺石油化工公司</li>
			<li>秦皇岛港股份有限公司</li>
			<li>上海申能能创能源发展有限公司</li>
			<li>上海燃气（集团）有限公司</li>
			<li>上海燃气浦东销售有限公司</li>
			<li>上海燃气市北销售有限公司</li>
			<li>上海大众燃气有限公司</li>
			<li>上海吴淞煤气制气有限公司</li>
			<li>上海石洞口煤气制气有限公司</li>
			<li>上海液化石油气经营有限公司</li>
			<li>上海崇明燃气有限公司</li>
			<li>上海金山天然气有限公司</li>
			<li>上海天然气管网有限公司</li>
			<li>上海港口能源有限公司</li>
			<li>上海涵远能源科技有限公司</li>
		</ul>
	</div>
	<div>
		<h4>房产</h4>
		<ul>
			<li>上海三星工程建设(上海)有限公司</li>
			<li>上海申能汇颂房地产有限公司</li>
			<li>上海汇郡投资有限公司</li>
			<li>上海申能汇枫房地产有限公司</li>
			<li>上海和济房地产有限公司</li>
			<li>湖北嘉庭置业有限公司</li>
			<li>北京冀北建筑工程有限公司</li>
			<li>嘉兴都汇置业有限公司</li>
		</ul>
	</div>
	<div>
		<h4>电力</h4>
		<ul>
			<li>上海阜通电力实业有限公司</li>
			<li>上海闸电燃气轮机发电厂</li>
			<li>湖南麓能电力有限公司</li>
		</ul>
	</div>
	<div>
		<h4>水务</h4>
		<ul>
			<li>上海大众嘉定污水处理有限公司</li>
			<li>江苏大众水务集团有限公司</li>
			<li>三八河污水处理厂</li>
			<li>贾汪城市污水处理厂</li>
			<li>沛县沛城污水处理厂</li>
			<li>邳州城东污水处理厂</li>
			<li>连云港东海污水处理厂</li>
			<li>昊沧系统控制技术有限责任公司</li>
		</ul>
	</div>
	<div>
		<h4>市政环境</h4>
		<ul>
			<li>海南大众海洋产业有限公司</li>
			<li>大众环境产业有限公司</li>
			<li>上海大众市政发展有限公司</li>
		</ul>
	</div>
	<div>
		<h4>金融</h4>
		<ul>
			<li>中国人保资产管理股份有限公司</li>
			<li>博信资本</li>
			<li>上海大众集团资本股权投资有限公司</li>
			<li>上海闵行大众小额贷款股份有限公司</li>
			<li>上海徐汇昂立小额贷款股份有限公司</li>
			<li>上海大众交通商务有限公司</li>
			<li>上海大众融资租赁有限公司</li>
			<li>众银(国际)金融服务有限公司</li>
			<li>深圳市创新投资集团有限公司</li>
			<li>上海吉梵资产管理有限公司</li>
			<li>通用前海投资（深圳）有限公司</li>
		</ul>
	</div>
	<div>
		<h4>教育及非盈利机构</h4>
		<ul>
			<li>上海财经大学</li>
			<li>上海政法学院</li>
			<li>上海对外经贸大学</li>
			<li>湖南文理学院</li>
			<li>清华大学出版社</li>
		</ul>
	</div>
	<div>
		<h4>中小企业</h4>
		<ul>
			<li>浙江金恒数控科技有限公司</li>
			<li>宁波恒胜物流有限公司</li>
			<li>重庆同诚资产评估有限责任公司</li>
			<li>南京金华新商贸有限责任公司</li>
			<li>南通三星健身器材有限公司</li>
			<li>黄山市天地旅游开发有限公司</li>
			<li>北京技德网络技术有限公司</li>
			<li>广州开普勒企业管理咨询有限公司</li>
			<li>上海俊晖景观工程有限公司</li>
			<li>北京腾远建筑设计有限公司天津分公司</li>
			<li>广西美儿宝贝商贸有限公司</li>
			<li>襄阳嘉顺通贸易有限公司</li>
			<li>北京合力万达科技发展有限公司</li>
			<li>通用前海投资（深圳）有限公司</li>
			<li>重庆爱信思科技有限责任公司</li>
			<li>深圳市勘察研究院有限公司贵州分公司 </li>
		</ul>
	</div>
</div>

