.steedos-main .product-container {
	padding: 15px;
}

.steedos-main .product-container .text {
	height: 150px;
}

@media (max-width: 991px) {
	.steedos-main .product-container .text {
		height: auto;
	}
}

.steedos-main .product-container .btn-link {
	background-image: linear-gradient(#61dd45,#3cb521 50%,#36a41e);
	background-image: -webkit-linear-gradient(#61dd45,#3cb521 50%,#36a41e);
	background-repeat: no-repeat;
	color: #FFF;
}

@media (max-width: 991px) {
	.steedos-main .product-container:not(:first-child) {
		margin-top: 20px;
	}
	.steedos-main .product-container {
		border-right: none !important;
	}
} 