<a name="pricing-anchor"></a>
<div class="container" style="margin-top: 50px;margin-bottom: 50px;">
	<h4 class="header-text text-center">请选择适合您的版本</h4>
	<!-- pricing -->
	<div class="pricing-block">
		<div class="container">
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="card card-pricing card-background card-raised" style="background-image: url('/cn/libs/img/meeting/bg27.jpg')">
					<div class="card-block">
						<h5  class="category">标准版</h5 >
						<h1 class="card-title price-title">
							<small>¥&nbsp;</small>1<small style="color: #FFF;">.00</small></br>
							<small style="font-size: 18px;font-weight: 600;">/用户/月</small>
						</h1>
						<ul>
							<li>
								<b>会议管理电脑端全部功能及手机端基本功能：</b>
							</li>
							<li>
								<b>会议安排、会议反馈</b>
							</li>
							<li>
								<b>会议室占用情况</b>
							</li>
							<li>
								<b>订阅同事日历</b>
							</li>
							<li>
								<b>手机客户端</b>
							</li>
						</ul>
						<a href="/steedos/sign-up/" target="_blank" class="btn btn-primary btn-round">
							注册试用
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="card card-pricing card-background card-raised" style="background-image: url('/cn/libs/img/meeting/bg27.jpg')">
					<div class="card-block">
						<h5 class="category">专业版</h5>
						<h1 class="card-title price-title">
							<small>¥&nbsp;</small>10<small style="color: #FFF;">.00</small></br>
							<small style="font-size: 18px;font-weight: 600;">/用户/月</small>
						</h1>
						<ul>
							<li>
								<b>在标准版功能的基础上，增加与手机日历的同步功能：</b>
							</li>
							<li>
								<b>+&nbsp;iPhone日历同步</b>
							</li>
							<li>
								<b>+&nbsp;iPad日历同步</b>
							</li>
							<li>                                            
								<b>+&nbsp;Android日历同步</b>
							</li>
							<li>
								<b>+&nbsp;日程按时提醒</b>
							</li>
						</ul>
						<a href="/steedos/sign-up/" target="_blank" class="btn btn-primary btn-round">
							注册试用
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="card card-pricing card-background card-raised" style="background-image: url('/cn/libs/img/meeting/bg27.jpg')">
					<div class="card-block">
						<h5 class="category">企业版</h5>
						<h1 class="card-title price-title">
							<small>¥&nbsp;</small>30<small style="color: #FFF;">.00</small></br>
							<small style="font-size: 18px;font-weight: 600;">/用户/月</small>
						</h1>
						<ul>
							<li>
								<b>专业版的所有功能，以及增加企业级模块：</b>
							</li>
							<li>
								<b>+&nbsp;绑定企业域名</b>
							</li>
							<li>
								<b>+&nbsp;定制专属登录界面</b>
							</li>
							<li>
								<b>+&nbsp;与企业现有业务系统整合</b>
							</li>
							<li>
								<b>+&nbsp;API接口</b>
							</li>
						</ul>
						<a href="/steedos/sign-up/" target="_blank" class="btn btn-primary btn-round">
							注册试用
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- End div col-md-10 -->
	</div>
</div>