<div class="parallax filter-gradient gray" data-color="gray">
    <div class="parallax-background">
        <img class="parallax-background-image" src="/cn/libs/img/bg27.jpg">
    </div>
    <div class= "container">
        <div class="row">
            <div class="description">
                <h2 style="line-height: 50px;">
                    会议邀请，实时送达<br>
                    会议安排，游刃有余
                </h2>
                <br>
                <h5>
                	华炎会议管理系统的价值就是帮您解决现实中会议管理上的困扰，我们的初衷是让您更加省事省力省心。
                </h5>
            </div>
            <div class="buttons">
                <a href="/steedos/sign-up/" target="_blank" class="btn btn-simple btn-round btn-white btn-lg btn-login" target="_blank">注册试用</a>
            </div>
        </div>
    </div>
</div>
<div class="section section-presentation">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="description">
					<h4 class="header-text">会议信息实时掌握</h4>
					<p>
						华炎会议管理系统为您提供了消息推送功能，不论是在办公室还是出门在外，您都可以实时收到会议邀请的通知，同时一旦您的会议邀请信息发生变化，我们也会在第一时间通知您，避免遗漏重要的会议通知。
					</p>
				</div>
			</div>
			<div class="col-md-6 col-md-offset-1">
				<img src="/cn/libs/img/meeting/hy3.jpg"/>
			</div>
		</div>
	</div>
</div>
<div class="section section-presentation">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-md-offset-1" style="float: right;">
				<div class="description">
					<h4 class="header-text">在线进行会议邀请</h4>
					<p>
						华炎会议管理系统为办会人员和参会人员提供了专业的会议管理在线平台，实现会议的在线邀请，参会人员的统一管理等功能，只需要几步简单的操作，就能将会议的信息通知给所有参会人员，适用于各种行业的会议活动使用。
					</p>
				</div>
			</div>
			<div class="col-md-6">
				<img src="/cn/libs/img/meeting/hy1.png"/>
			</div>
		</div>
	</div>
</div>
<div class="section section-presentation">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="description">
					<h4 class="header-text">会议室的合理分配</h4>
					<p>
						华炎会议管理系统着手解决传统会议安排经常遇到的会议室冲突等尴尬情景。借助信息化手段和先进的管理理念，对会议室的使用进行规范化、实时化管理，用户可以轻松的查阅到会议室的使用情况，避免了会议室使用冲突的发生，同时也提高了会议室的使用效率，节省办会人员的时间。
					</p>
				</div>
			</div>
			<div class="col-md-6 col-md-offset-1">
				<img src="/cn/libs/img/meeting/hy2.jpg"/>
			</div>
		</div>
	</div>
</div>
<div class="section section-no-padding">
	<div class="parallax filter-gradient blue" data-color="blue">
		<div class="parallax-background">
			<img class ="parallax-background-image" src="/cn/libs/img/meeting/bg3.jpg"/>
		</div>
		<div class="info">
			<h1>立即免费试用华炎会议管理系统！</h1>
			<a href="/steedos/sign-up/" target="_blank" class="btn btn-neutral btn-lg btn-fill">注册试用</a>
		</div>
	</div>
</div>

<!-- pricing -->
<%- partial("_pricing") %>