/*.steedos-workflow .wrapper {
	background: #F2F2F2;
}

.steedos-workflow .wrapper .workflow-feature {
	background: #F2F2F2;
}*/

/* workflow */
p.text-center.description {
	padding-bottom: 15px;
}

.section.workflow-feature {
	margin: 0;
	padding-top: 0;
}

.section.workflow-feature .card {
	border: none;
	box-shadow: none;
	min-height: 260px;
	margin-bottom: 0;
	margin-top: 10px;
}

.section.workflow-feature .card .icon i.ion {
	color: #555;
}

.section.workflow-feature .card h4 {
	font-weight: bold;
}

.section.workflow-feature .card p {
	font-size: 15px;
	font-weight: normal;
	color: #333;
}

.section.workflow-feature .card p.text-muted {
	font-weight: bold;
	color: #999;
}

.section.workflow-feature hr {
	border-color: rgba(34, 36, 38, 0.15);
}

.section.workflow-feature .workflow-help .card {
	min-height: 320px;
}

.section.workflow-feature .workflow-help .card .btn-help {
	border: 1px solid #888;
	margin-top: 15px;
	font-size: 15px;
	background-image: linear-gradient(#6d94bf,#446e9b 50%,#3e648d);
    background-image: -webkit-linear-gradient(#6d94bf,#446e9b 50%,#3e648d);
    background-repeat: no-repeat;
    color: #FFF;
}

.row .success-example p {
	margin-top: 0;
}

.row .success-example {
	margin-top: 25px;
	border-left: 4px solid #eee;
}

.row .success-example small {
	color: #999;
	display: block;
	line-height: 1.428571429;
	font-size: 12px;
	margin-top: 15px;
}

/* casestudy */
.section.section-casestudy ul li {
	padding: 5px 0 !important;
	font-size: 18px;
}

.section.section-casestudy .row {
	margin: 30px 0;
    padding-top: 30px;
    border-top: 1px solid rgba(34, 36, 38, 0.15);
}

/*pricing*/

.pricing-block {
	margin: 50px 0;
}