<link rel="stylesheet" type="text/css" href="/cn/libs/download/download.css">
<div class="parallax filter-gradient gray submodule" data-color="gray">
    <div class="parallax-background">
        <img class="parallax-background-image" src="/cn/libs/img/banner/learning_begin_large.jpg">
    </div>
    <div class= "container">
        <div class="row">
            <div class="description">
                <h2>下载客户端</h2>
            </div>
        </div>
    </div>
</div>
<div class="container index_download">
    <div class="index_download_cnt">
        <a class="index_download_item index_download_item_Window col-md-3 col-xs-6" role="button" href="http://oss.steedos.com/apps/steedos/windows/cn/steedos-desktop.exe" target="_blank">
            <div class="index_download_item_iconWrap">
                <span class="ww_officialImg ww_officialImg_DownloadWindows index_download_item_iconWrap_normalIcon"></span>
                <span class="ww_officialImg ww_officialImg_DownloadIcon index_download_item_iconWrap_hoverIcon"></span>
            </div>
            <div class="index_download_item_title">Windows桌面端</div>
            <div class="index_download_item_desc">点击直接下载</div>
        </a>‌
        <a class="index_download_item index_download_item_Mac col-md-3 col-xs-6" role="button" href="http://oss.steedos.com/apps/steedos/mac/steedos.dmg" target="_blank">
            <div class="index_download_item_iconWrap">
                <span class="ww_officialImg ww_officialImg_DownloadMac index_download_item_iconWrap_normalIcon"></span>
                <span class="ww_officialImg ww_officialImg_DownloadIcon index_download_item_iconWrap_hoverIcon"></span>
            </div>
            <div class="index_download_item_title">Mac桌面端</div>
            <div class="index_download_item_desc">点击直接下载</div>
        </a>‌
        <a class="index_download_item col-md-3 col-xs-6" plat="ios" role="button" href="http://itunes.apple.com/cn/app/steedos-workflow/id686408407" target="_blank">
            <div class="index_download_item_iconWrap">
                <span class="ww_officialImg ww_officialImg_DownloadiOS index_download_item_iconWrap_normalIcon"></span>
                <img class="index_download_item_downloadIcon index_download_item_iconWrap_hoverIcon" src="/cn/libs/download/ios-workflow.png">
            </div>
            <div class="index_download_item_title">iOS版</div>
            <div class="index_download_item_desc">扫描二维码下载</div>
        </a>‌
        <a class="index_download_item col-md-3 col-xs-6" plat="android" role="button" href="http://oss.steedos.com/apps/workflow/android/workflow.apk" target="_blank">
            <div class="index_download_item_iconWrap">
                <span class="ww_officialImg ww_officialImg_DownloadAndroid index_download_item_iconWrap_normalIcon"></span>
                <img class="index_download_item_downloadIcon index_download_item_iconWrap_hoverIcon" src="/cn/libs/download/android-workflow.png">
            </div>
            <div class="index_download_item_title">Android版</div>
            <div class="index_download_item_desc">扫描二维码下载</div>
        </a>‌
    </div>
</div>