<div class="parallax filter-gradient gray submodule" data-color="gray">
    <div class="parallax-background">
        <img class="parallax-background-image" src="/cn/libs/img/banner/traveling_large.jpg">
    </div>
    <div class= "container">
        <div class="row">
            <div class="description">
                <h2>部分成功案例</h2>
                <br>
            </div>
        </div>
    </div>
</div>
<div class="container success-cases">
    <div>
        <h4>集团</h4>
        <ul>
            <li>上海大众交通集团</li>
            <li>上海燃气集团</li>
            <li>河北省港口集团</li>
            <li>抚顺石油化工集团</li>
            <li>重庆东银集团</li>
            <li>山东华鲁恒升集团</li>
            <li>江苏澳洋实业集团</li>
            <li>北京北人集团</li>
            <li>四川川化集团</li>
            <li>西安航空发动机(集团)有限公司</li>
        </ul>
    </div>
    <div>
        <h4>上市公司</h4>
        <ul>
            <li>大众交通（600611）</li>
            <li>大众公用（600635）</li>
            <li>镇海炼化（HK1128）</li>
            <li>迪马股份（600565）</li>
            <li>江淮动力（000816）</li>
            <li>金融街（000402）</li>
            <li>冀东水泥（000401）</li>
            <li>川化股份（000155）</li>
            <li>华鲁恒生（600426）</li>
            <li>北人股份（600860）</li>
            <li>青海华鼎（600243）</li>
            <li>南大苏富特（HK8045）</li>
            <li>交大博通（600455）</li>
        </ul>
    </div>
    <div>
        <h4>交通运输</h4>
        <ul>
            <li>宁波港北仑第二集装箱有限公司</li>
            <li>秦皇岛港股份有限公司</li>
            <li>上海市城市交通管理局机关工会</li>
            <li>上海大众出租汽车营运公司</li>
            <li>上海大众交通汽车服务有限公司</li>
            <li>上海大众公共交通有限公司</li>
            <li>哈尔滨大众交通</li>
            <li>崇明大众公司</li>
        </ul>
    </div>
    <div>
        <h4>政府机关</h4>
        <ul>
            <li>江苏省水利厅</li>
            <li>江苏省科技厅</li>
            <li>江苏省卫生厅</li>
            <li>上海市城市交通管理局</li>
            <li>张家港市人事局</li>
        </ul>
    </div>
    <div>
        <h4>能源</h4>
        <ul>
            <li>中国石油抚顺石油化工公司</li>
            <li>上海燃气（集团）有限公司</li>
            <li>上海燃气浦东销售有限公司</li>
            <li>上海燃气市北销售有限公司</li>
            <li>上海大众燃气有限公司</li>
            <li>上海吴淞煤气制气有限公司</li>
            <li>上海石洞口煤气制气有限公司</li>
            <li>上海液化石油气经营有限公司</li>
            <li>上海松江燃气有限公司</li>
            <li>上海崇明燃气有限公司</li>
            <li>上海天然气管网有限公司</li>
            <li>镇海炼油化工股份有限公司</li>
            <li>镇海石化工程公司</li>
        </ul>
    </div>
    <div>
        <h4>汽车与配件</h4>
        <ul>
            <li>东风康明斯发动机有限公司</li>
            <li>重庆迪马实业股份有限公司</li>
            <li>江苏江淮动力股份有限公司</li>
            <li>西安航空发动机(集团)有限公司</li>
            <li>北京卡达克汽车技术开发有限公司</li>
            <li>吉林众诚汽车服务有限责任公司</li>
        </ul>
    </div>
    <div>
        <h4>房产</h4>
        <ul>
            <li>上海海泰房地产（集团）有限公司</li>
            <li>上海申能地产有限公司</li>
            <li>重庆东原房地产开发有限公司</li>
            <li>上海陆家嘴物业管理有限公司</li>
            <li>北京中关村科学城</li>
            <li>金融街控股股份有限公司</li>
            <li>北京鲁艺房地产开发有限责任公司</li>
        </ul>
    </div>
    <div>
        <h4>电力</h4>
        <ul>
            <li>上海电力安装第二工程公司</li>
            <li>上海协鑫电力营运有限公司</li>
            <li>上海阜通电力实业有限公司</li>
        </ul>
    </div>
    <div>
        <h4>金融</h4>
        <ul>
            <li>中国人保资产管理股份有限公司</li>
            <li>博信资本</li>
            <li>光大保德信基金管理有限公司</li>
            <li>北京元亨利贞投资管理有限公司</li>
            <li>长信基金管理有限公司</li>
        </ul>
    </div>
    <div>
        <h4>邮政 & 电信</h4>
        <ul>
            <li>国家邮票印制局</li>
            <li>天津市邮政局</li>
            <li>无锡市邮政局</li>
            <li>中国移动浙江公司</li>
            <li>上海电信信息网络部</li>
        </ul>
    </div>
    <div>
        <h4>教育及非盈利机构</h4>
        <ul>
            <li>上海财经大学</li>
            <li>湖南文理学院</li>
            <li>清华大学出版社</li>
        </ul>
    </div>
    <div>
        <h4>中小企业</h4>
        <ul>
            <li>浙江金恒数控科技有限公司</li>
            <li>宁波恒胜物流有限公司</li>
            <li>重庆同诚资产评估有限责任公司</li>
            <li>合众联盟文化产业发展有限公司</li>
            <li>上海红星眼镜有限公司</li>
            <li>上海大众广告有限公司</li>
            <li>北京柴傅律师事务所</li>
            <li>重庆谛威会计师事务所</li>
            <li>苏州长风有限公司</li>
        </ul>
    </div>
</div>

