<div class="section section-features workflow-feature">
    <div class="container" style="margin-top: 50px;margin-bottom: 50px;">
        <div class="col-md-12 text-center">
            <img src="/cn/libs/img/workflow/int.png" style="width: 75%;margin-bottom: 30px;">
        </div>
        <h4 class="header-text text-center">审批王可以定制任何您想要的管理流程</h4>
        <p class="text-center description">
            有了审批王，随时可以处理您的业务流程：出差、报销、请假、采购、 付款、订单、客服、会议、公文、投诉、报告...
        </p>
        <div class="container">
            <hr style="margin-bottom: 0">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="icon">
                            <i class="ion ion-ios-shuffle"></i>
                        </div>
                        <div class="text">
                            <h4>规范业务过程</h4>
                            <p>审批王帮助您将各项规章制度转化为可严格执行的电子流程。避免工作人员办事随心所欲。</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="icon">
                            <i class="ion ion-ios-pie-outline"></i>
                        </div>
                        <div class="text">
                            <h4>减少出错机会</h4>
                            <p>每月月底通过程序自动计算汇总生成报表，避免人工计算、誊抄等环节中的错误。</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="icon">
                            <i class="ion ion-ios-clock-outline"></i>
                        </div>
                        <div class="text">
                            <h4>提升工作效率</h4>
                            <p>像微信一样即时通知，领导打开手机就能处理，大幅提升业务流程运行效率。</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="icon">
                            <i class="ion ion-ios-search"></i>
                        </div>
                        <div class="text">
                            <h4>记录随时可查</h4>
                            <p>审批王永久保存您的申请单，您可以像百度一样随时调阅已审批的记录，资料不再遗失。</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="icon">
                            <i class="ion ion-ios-chatbubble-outline"></i>
                        </div>
                        <div class="text">
                            <h4>降低沟通成本</h4>
                            <p>有了审批王，员工不再到处找领导各种签字，帮您大幅节省纸张、传真、电话、沟通、查询等各种成本。</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="icon">
                            <i class="ion ion-ios-paw-outline"></i>
                        </div>
                        <div class="text">
                            <h4>随时随地访问</h4>
                            <p>有了审批王，打开手机就可以处理和查询业务流程，全世界都是你的办公室。</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <h4 class="header-text text-center">成功案例</h4>
                <p class="text-center">
                    超过200家公司成功实施审批王流程管理解决方案
                </p>
                <div class="col-md-4 col-md-offset-1 text-center success-example">
                    <p>
                        审批王最大的特色就是流程自定义非常方便，即使业务部门提出各种复杂需求，都能轻松的用审批王实现。
                    </p>
                    <small>
                        <i class="ion-ios-minus-empty"></i>上海财经大学信息部，袁林
                    </small>
                </div>
                <div class="col-md-4 col-md-offset-2 text-center success-example">
                    <p>
                        审批王用户界面很漂亮，而且操作流程非常友好，我们的员工基本不需要培训，拿到就会用了。
                    </p>
                    <small>
                        <i class="ion-ios-minus-empty"></i>上海大众交通集团, 吴永隽
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section section-no-padding">
    <div class="parallax filter-gradient blue" data-color="blue">
        <div class="parallax-background">
            <img class ="parallax-background-image" src="/cn/libs/img/meeting/bg3.jpg"/>
        </div>
        <div class="info">
            <h1>立即免费试用审批王！</h1>
            <a href="/steedos/sign-up/" target="_blank" class="btn btn-neutral btn-lg btn-fill">注册试用</a>
        </div>
    </div>
</div>
<div class="section section-features workflow-feature">
    <div class="container" style="margin-top: 50px;margin-bottom: 50px;">
        <div class="row workflow-help">
            <div class="col-md-4">
                <div class="card">
                    <div class="icon">
                        <i class="ion ion-ios-film-outline"></i>
                    </div>
                    <div class="text">
                        <h4>培训视频</h4>
                        <p class="text-muted">您只需花上30分钟，跟着操作一下，就能成为业务流程定制专家。</p>
                    </div>
                    <div class="buttons">
                        <a class="btn btn-fill btn-neutral btn-help" href="/cn/workflow/help/mp4.html">查看培训视频</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="icon">
                        <i class="ion ion-ios-paper-outline"></i>
                    </div>
                    <div class="text">
                        <h4>版本与报价</h4>
                        <p class="text-muted">审批王根据您的企业规模，提供不同版本的报价，快来看看哪一个版本适合您。</p>
                    </div>
                    <div class="buttons">
                        <a class="btn btn-fill btn-neutral btn-help" href="/cn/workflow/pricing">选择适合我的版本</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="icon">
                        <i class="ion ion-ios-cloud-download-outline"></i>
                    </div>
                    <div class="text">
                        <h4>下载客户端</h4>
                        <p class="text-muted">审批王为您提供iPhone、iPad、Android、Windows、Mac客户端。</p>
                    </div>
                    <div class="buttons">
                        <a class="btn btn-fill btn-neutral btn-help" href="/cn/workflow/help/api.html">下载客户端</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="icon">
                        <i class="ion ion-ios-loop"></i>
                    </div>
                    <div class="text">
                        <h4>开放API</h4>
                        <p class="text-muted">审批王为专业版以上客户完全开放API访问，让您可以轻松将审批王整合进您的现有项目。</p>
                    </div>
                    <div class="buttons">
                        <a class="btn btn-fill btn-neutral btn-help" href="/cn/workflow/help">查看API说明</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="icon">
                        <i class="ion ion-ios-help-outline"></i>
                    </div>
                    <div class="text">
                        <h4>帮助中心</h4>
                        <p class="text-muted">在使用过程中遇到问题了吗？快来这里看看吧，或许您可以找到答案。</p>
                    </div>
                    <div class="buttons">
                        <a class="btn btn-fill btn-neutral btn-help" href="">查看帮助中心</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="icon">
                        <i class="ion ion-ios-email-outline"></i>
                    </div>
                    <div class="text">
                        <h4>流程实施服务</h4>
                        <p class="text-muted">审批王为您提供免费的流程实施服务，您只需将业务流程需求发邮件到： support@steedos.com。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>