.steedos-drive .section-presentation .description {
	padding: 0px 5px 0;
}

.steedos-drive .section-presentation .description h3 {
	margin-top: 0;
	line-height: 40px;
}

.steedos-drive .section-presentation .description p {
	font-size: 17px;
}

.steedos-drive .section-presentation img {
	box-shadow: none;
	border: none;
}

.steedos-drive .section-presentation .img-container {
	margin: 30px 0;
}

.steedos-drive .section-presentation .img-container span {
	position: relative;
	top: 3px;
	font-size: 15px;
	font-weight: 200;
}

.steedos-drive hr {
	margin-top: 60px;
	margin-bottom: 0;
	border-color: rgba(34, 36, 38, 0.15);
}