<div class="section section-clients section-casestudy">
    <div class="container">
        <h3 class="text-center">我们的客户</h3>
        <div class="row">
            <h3>外贸公司的管理流程改善</h3>
            <h4>外贸公司的困境</h4>
            <p>
                某外贸公司 ，曾经购买过一套OA软件，但随着公司的发展与结构调整，原来的流程渐渐不能满足人事、财务等行政管理的需要。<br>
                原OA厂商的产品不支持移动办公，老板出差在外时常常不能及时审批，回到公司，待审核的文件却已堆积如山。<br>
                若升级原OA厂商的产品，需要重新购买服务器、软件、实施服务……代价不菲，且起码要3个月才能完成。
            </p>   
            <h4>审批王的解决方案</h4>
            <ul>
                <li>保留原有的系统，可查看原来的审批信息。</li>
                <li>审批王提供免费平台供试用，试用满意后才升级至专业版。</li>
                <li>专业版根据实际使用人数按月结算，并包含了免费的实施顾问服务，还不需要购买服务器，因此所需费用 大大节省 ，只需原预算的1/5。</li>
                <li>在审批王中通过配置创建流程，在手机端、平板电脑上下载专用的客户端，立刻就能满足管理层 移动审批 的需求。</li>
                <li>利用审批王简单就能修改表单和流程的优势， 随时修改流程 ，以满足优化管理的需要。</li>
            </ul>
            <h4>应用审批王之后</h4>
            <ul>
                <li>只用了 1 天时间，就在审批王中创建了自己的工作区、设置好组织，并创建了所需的流程。</li>
                <li>用了审批王，才知道原来 配置流程一点都不难，也不需要会编程 ，只要看看教程视频就学会了。</li>
                <li>学会了自己配流程，就准备把流程管理的范围扩大，不再局限于原来的人事行政、财务等几个流程；反正审批王也不会因为流程数量增加而多收钱……</li>
            </ul>
        </div>
        <div class="row">
            <h3>建筑工程企业的流程应用</h3>
            <h4>企业的烦恼</h4>
            <p>
                某建筑工程企业，母公司下有两家子公司，有各自的业务范围；各子公司下又同时负责多个建设项目。<br>
                这些项目所涉资金动辄数十万、上百万，从材料的采购到项目的回款，都需要从项目经理到老板的逐级确认。<br>
                虽有财务系统管住了资金的出入口，但在最终确认前的审批过程都用纸张管理，耗时良久，稍有不慎可能发生填写错误、甚至单据遗失。<br>
                曾经发生过应付1.2万，却错付了12万的严重问题。
            </p>   
            <h4>审批王的解决方案</h4>
            <ul>
                <li>公司老总每周只需去一次公司，大事小情都能随时掌控。</li>
                <li>利用审批王<b>灵活自定义</b>的特点，所有与款项有关的流程，全部在审批王中自行创建。</li>
                <li>利用审批王<b>自动计算</b>的功能，保证数据正确，利用上传图片附件的功能，将实际文件与申请信息关联起来。</li>
                <li>利用审批王<b>自动通知</b>的功能，老板出差在外也能随时审批。</li>
                <li>利用审批王<b>简单就能修改表单和流程</b>的优势， 随时修改流程 ，以满足优化管理的需要。</li>
            </ul>
            <h4>流程运行前后对比</h4>
            <div class="col-md-6" style="padding-left: 0">
                <h4>应用前</h4>
                <ul>
                    <li><b>审批效率低：</b>必须等老板回公司才能处理</li>
                    <li><b>办事人员错漏多：</b>办事员经常要临时抱佛脚，处理被遗忘和错漏的工作</li>
                    <li><b>责任不明确：</b>不清楚目前审批到了谁手里，在哪个环节发生了延误</li>
                </ul>
            </div>
            <div class="col-md-6" style="padding-left: 0">
                <h4>应用后</h4>
                <ul>
                    <li><b>审批效率高：</b>用手机随时审批随时结案</li>
                    <li><b>自动执行很可靠：</b>自动通知，使遗忘和错漏的情况大大减少</li>
                    <li><b>责任明确到人：</b>签核历程清楚明了，所有相关人员都可以看到审批的进度</li>
                </ul>
            </div>
        </div>   
    </div>
</div>