<div class="parallax filter-gradient gray submodule" data-color="gray">
    <div class="parallax-background">
        <img class="parallax-background-image" src="/cn/libs/img/banner/tools_large.jpg">
    </div>
    <div class= "container">
        <div class="row">
            <div class="description">
                <h2>无缝的安全共享，自由自在的协作</h2>
            </div>
        </div>
    </div>
</div>
<div class="section section-presentation">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<img src="/cn/libs/img/drive/collaboration.png" style="width: 300px" />
			</div>
			<div class="col-md-12 text-center">
				<div class="description">
					<p>
						在一个地方集中存储所有工作资料，让团队保持同步，有更多时间完成工作，减少在访问文件上浪费时间。
					</p>
				</div>
			</div>
		</div>
		<hr>
	</div>
</div>
<div class="section section-presentation">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="description">
					<h3 class="">提升团队现有工具的协同性</h3>
					<p>
						您的团队使用各种不同的文件和设备来完成工作，例如设计师依赖于Photoshop图片，产品组依赖于AutoCAD模型，而财务部门依赖于Excel电子表格。
					</p>
					<p>
						销售人员如果要将所有这些信息融入到PowerPoint资料中，就需要将信息移入长长的电子邮件会话和缓慢的服务器上，或者重复插拔U盘。
					</p>
					<p>
						或者更糟，如果是移入某些特定的在线应用，则每个人都需要学习和使用另一套系统。
					</p>
					<p>
						借助华炎云盘，您的整个团队都可以在一个地方集中保存最新的文件，同时仍可使用他们喜爱的工具。
					</p>
				</div>
			</div>
			<div class="col-md-offset-1 col-md-6">
				<img src="/cn/libs/img/drive/mobile2.png"/>
			</div>
		</div>
		<hr>
	</div>
</div>
<div class="section section-presentation">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-md-offset-1" style="float: right;">
				<div class="description">
					<h3 class="">齐心协力,轻松保持最新状态</h3>
					<p>
						同步和共享与在电脑上保存文件一样简单，不需要任何特别的系统，也不需要手动进行上传和下载。
					</p>
					<p>
						您只需单击一下鼠标便可邀请团队成员共享文件夹，即时创建一个协同工作区。他们加入后，从一位成员的电脑上保存到该文件夹中的任何文件都会即时自动更新到其他团队成员的电脑。
					</p>
					<p>
						最棒的是，每个人都可以继续使用现有的应用进行工作。
					</p>
				</div>
			</div>
			<div class="col-md-6">
				<img src="/cn/libs/img/drive/coll2.png"/>
			</div>
		</div>
		<hr>
	</div>
</div>
<div class="section section-presentation">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="description">
					<h3 class="">轻松同步,保持最佳效果</h3>
					<p>
						我们会处理所有困难的工作，为您的团队减轻负担。
					</p>
					<p>
						当您保存文件时，所有内容都会在后台上传到您的华炎云盘。
					</p>
					<p>
						您可以在其他电脑上继续工作，或者通过我们的网站或iPhone版、iPad版和Android版移动应用访问文件。
					</p>
					<p>
						我们的增量同步、LAN同步和流式同步等技术会对带宽进行优化，提升上传和下载的速度与效率，方便您随时随地进行无缝协作。
					</p>
				</div>
			</div>
			<div class="col-md-offset-1 col-md-6">
				<img src="/cn/libs/img/drive/coll3.png"/>
			</div>
		</div>
		<hr>
	</div>
</div>
<div class="section section-presentation">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-md-offset-1" style="float: right;">
				<div class="description">
					<h3 class="">保护您交换的信息</h3>
					<p>
						由于所有人都在一个平台上，因此您可以全面地深入查看用户访问和共享关键工作文件的情况。
					</p>
					<p>
						您可利用共享控件设置权限，只允许团队成员访问，或允许外部协作者访问某些文件夹和文件。
					</p>
					<p>
						活动日志会跟踪用户访问内容的情况，包括新的共享文件夹、获邀请的成员、权限的更改等。
					</p>
				</div>
			</div>
			<div class="col-md-6">
				<img src="/cn/libs/img/drive/coll4.png"/>
			</div>
		</div>
	</div>
</div>

