<div class="parallax filter-gradient gray" data-color="gray">
    <div class="parallax-background">
        <img class="parallax-background-image" src="/cn/libs/img/banner/tools_large.jpg">
    </div>
    <div class= "container">
        <div class="row">
            <div class="description">
                <h2>
                    让您的团队保持同步    
                </h2>
                <br>
               	<h5>
               		华炎云盘是一款深受公司员工喜爱的，集文件备份、共享与协作一体的云端软件。
               	</h5>
            </div>
            <div class="buttons">
                <a href="/steedos/sign-up/" target="_blank" class="btn btn-simple btn-round btn-white btn-lg btn-login" target="_blank" style="margin-top: 45px;">注册试用</a>
            </div>
        </div>
    </div>
</div>
<div class="section section-presentation">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-md-offset-1" style="float: right;">
				<div class="description">
					<h3 class="">来自中国的Dropbox文件自动同步服务</h3>
					<p>
						华炎云盘提供桌面同步客户端，可以将您的本地文件夹实时自动备份到云端，并自动为您保存文件历史版本。您的团队无需再担心丢失文件。在文件保存时，华炎云盘会在后台同步文件，从而使内容获得备份并准备随时用于恢复，在此过程中无需您的团队成员进行任何额外的操作。
					</p>
					<p>
						同时利用我们的增量同步技术，我们只会更新文件中进行了更改的部分，因而备份起来快如闪电且毫不费力。
					</p>
				</div>
			</div>
			<div class="col-md-6">
				<img src="/cn/libs/img/drive/sync.png"/>
			</div>
		</div>
		<hr>
	</div>
</div>
<div class="section section-presentation">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="description">
					<h3 class="">与外部协作者共享同步的力量</h3>
					<p>
						与合作伙伴、客户和供应商合作，是确保您公司取得成功的基本要素，但合作并非易事。您是否尝试过向团队外部的人员发送时长一小时的视频或海量的图片文件?
					</p>
					<p>
						如果有这样的经历，您就应该了解他们为了获得这些文件而被迫下载专门的软件或注册其他服务的痛苦
					</p>
					<p>
						通过华炎云盘，您可轻松与外部协作者共享文件，同时确保在此过程的每一步中，您的内容都安全无虞。
					</p>
				</div>
			</div>
			<div class="col-md-offset-1 col-md-6">
				<img src="/cn/libs/img/drive/cloud4.png"/>
			</div>
		</div>
		<hr>
	</div>
</div>
<div class="section section-presentation">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-md-offset-1" style="float: right;">
				<div class="description">
					<h3 class="">让办公室“跟着”您走, 移动生活更轻松</h3>
					<p>
						无论是通过VPN连接服务器，还是通过电子邮件收发文件，要在办公室外保持工作效率往往会让人沮丧。
					</p>
					<p>
						哪怕只是在笔记本电脑、智能手机和平板电脑之间移动文件(或者在应用之间移动)，都可能让人头疼不已。
					</p>
					<p>
						华炎云盘可让您团队的文件随时都触手可及，帮您消除移动访问之苦，让团队成员在路上也可像在办公桌边一样高效工作。
					</p>
				</div>
			</div>
			<div class="col-md-6">
				<img src="/cn/libs/img/drive/cloud1.png"/>
			</div>
		</div>
		<hr>
	</div>
</div>
<div class="section section-presentation">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<img src="/cn/libs/img/drive/cloud2.png"/>
			</div>
			<div class="col-md-4">
				<div class="description">
					<h3 class="">培训更少，效率更高</h3>
					<p>
						跟笨重的 FTP 服务器、内部存储设备以及电子邮件附件说再见。直观的界面和同类最佳的性能，让您能轻松将整个团队迁移至同一套系统。
					</p>
					<p>
						无限制删除内容恢复和取消关联设备等自助式功能，让团队成员可轻松自行处理常见任务而无需打扰IT人员。
					</p>
					<p>
						所有这些都意味着您能减少培训和问题排除时间，将更多的时间用于高效工作。
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="img-container">
					<img src="/cn/libs/img/drive/2.1.png" style="width: 40px">
					<span>减少IT人员的负担</span>
				</div>
				<div class="img-container">
					<img src="/cn/libs/img/drive/2.2.png" style="width: 40px">
					<span>无限次恢复文件</span>
				</div>
				<div class="img-container">
					<img src="/cn/libs/img/drive/2.3.png" style="width: 40px">
					<span>设备管理 </span>
				</div>
			</div>
		</div>
		<hr>
	</div>
</div>
<div class="section section-presentation">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<img src="/cn/libs/img/drive/cloud3.png"/>
			</div>
			<div class="col-md-4">
				<div class="description">
					<h3 class="">监视共享，控制访问</h3>
					<p>
						如果员工各自使用不同的解决方案，将为长期管控带来问题。请向他们提供一个广受30万用户认可的产品，让您的公司信息安全留在公司内部。
					</p>
					<p>
						华炎云盘可为IT管理员提供全面的审核日志，方便其跟踪哪些人在共享哪些内容。
					</p>
					<p>
						您可通过易于使用的控制功能限制访问；如果设备丢失，则还可利用远程清除功能保护数据安全。
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="img-container">
					<img src="/cn/libs/img/drive/3.1.png" style="width: 40px">
					<span>完整的审核日志</span>
				</div>
				<div class="img-container">
					<img src="/cn/libs/img/drive/3.2.png" style="width: 40px">
					<span>远程清除</span>
				</div>
				<div class="img-container">
					<img src="/cn/libs/img/drive/3.3.png" style="width: 40px">
					<span>共享控制</span>
				</div>
			</div>
		</div>
		<hr>
	</div>
</div>
<div class="section section-presentation">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<img src="/cn/libs/img/drive/cloud4.png"/>
			</div>
			<div class="col-md-4">
				<div class="description">
					<h3 class="">安全保护公司信息</h3>
					<p>
						华炎云盘会对传输中的文件数据和静态文件数据使用强密文加密，并使用文件分割和哈希技术将文件做匿名化处理。
					</p>
					<p>
						此外，私有云用户还可利用服务端加密存储等功能进一步保护帐户。
					</p>
					<p>
						所有这些都意味着您能减少培训和问题排除时间，将更多的时间用于高效工作。
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="img-container">
					<img src="/cn/libs/img/drive/3.1.png" style="width: 40px">
					<span>完整的审核日志</span>
				</div>
				<div class="img-container">
					<img src="/cn/libs/img/drive/3.2.png" style="width: 40px">
					<span>远程清除</span>
				</div>
				<div class="img-container">
					<img src="/cn/libs/img/drive/3.3.png" style="width: 40px">
					<span>共享控制</span>
				</div>
			</div>
		</div>
	</div>
</div>

