<div class="section section-presentation">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="description">
					<h3 class="">深入查看与精细控制，提升工作效率</h3>
					<p>
						借助简单但强大的团队添加、删除和管理工具,您能以前所未有的轻松方式深入查看并控制公司信息。
					</p>
				</div>
			</div>
			<div class="col-md-12 text-center">
				<img src="/cn/libs/img/drive/security.png" style="width: 300px" />
			</div>
		</div>
		<hr>
	</div>
</div>
<div class="section section-presentation">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="description">
					<h3 class="">深入查看与精细控制，提升工作效率</h3>
					<p>
						营销团队要与外部代理机构共享产品发布时间表，部门主管要发送预算预测信息给财务部门，而高管们则要来回传递投资者资料。协作增多意味着越来越多的人会访问需要保密的公司敏感数据。
					</p>
					<p>
						借助华炎云盘，您可以轻松管理信息的流动,而不会对其造成阻碍。
					</p>
				</div>
			</div>
			<div class="col-md-offset-1 col-md-6">
				<img src="/cn/libs/img/drive/cloud3.png"/>
			</div>
		</div>
		<hr>
	</div>
</div>
<div class="section section-presentation">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-md-offset-1" style="float: right;">
				<div class="description">
					<h3 class="">经过员工检验和IT批准</h3>
					<p>
						将您的整个团队迁移到用户人数已达30万的华炎云盘,就意味着您可以向他们依赖的产品采用强大的管理政策。
					</p>
					<p>
						设置完毕后，团队成员可以使用独立的华炎云盘帐户分开保存个人数据和工作数据，因此您可以掌控预算预测等公司信息，而您的员工可以掌控假期照片等个人信息。
					</p>
				</div>
			</div>
			<div class="col-md-6">
				<img src="/cn/libs/img/drive/control2.png"/>
			</div>
		</div>
		<hr>
	</div>
</div>
<div class="section section-presentation">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="description">
					<h3 class="">确保公司数据不外泄</h3>
					<p>
						华炎云盘可向您提供监控和保护公司数据所需的IT管理工具。
					</p>
					<p>
						如果设备丢失，您只需单击几下鼠标即可远程清除本地数据副本。
					</p>
					<p>
						如果有人离职，您可以立即将相关的文件和共享权限转移给其他团队成员。
					</p>
					<p>
						IT部门也可利用直观的共享控件，确保只允许相关人员访问公司的敏感数据。
					</p>
				</div>
			</div>
			<div class="col-md-offset-1 col-md-6">
				<img src="/cn/libs/img/drive/control3.png"/>
			</div>
		</div>
		<hr>
	</div>
</div>
<div class="section section-presentation">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-md-offset-1" style="float: right;">
				<div class="description">
					<h3 class="">轻松管理团队帐户</h3>
					<p>
						华炎云盘管理员控制台让您可以从一个地方管理团队和数据，无需费心浏览一个又一个权限不明的网页。
					</p>
					<p>
						借助深入细致且可导出的审核日志，登录操作、共享事件、关联的设备和应用、密码更改等操作皆一览无余。
					</p>
					<p>
						通过与您已经信任的身份提供商合作，您可以利用 Active Directory 和单点登录 (SSO)集成来快速而安全地调配和取消调配团队成员。
					</p>
					<p>
						此外，您还可以利用两步验证功能来添加一层额外的安全防线。
					</p>
				</div>
			</div>
			<div class="col-md-6">
				<img src="/cn/libs/img/drive/control2.png"/>
			</div>
		</div>
	</div>
</div>

