<div class="parallax filter-gradient gray submodule" data-color="gray">
    <div class="parallax-background">
        <img class="parallax-background-image" src="/cn/libs/img/banner/tools_large.jpg">
    </div>
    <div class= "container">
        <div class="row">
            <div class="description">
                <h2>轻松备份和恢复，让您安心没烦恼</h2>
            </div>
        </div>
    </div>
</div>
<div class="section section-presentation">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<img src="/cn/libs/img/drive/backup.png" style="width: 300px" />
			</div>
			<div class="col-md-12 text-center">
				<div class="description">
					<p>
						可靠的备份功能与业务发展保持同速。您的IT部门将对您感激不尽。
					</p>
				</div>
			</div>
		</div>
		<hr>
	</div>
</div>
<div class="section section-presentation">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="description">
					<h3 class="">轻松在线备份与恢复文件，从此高枕无忧</h3>
					<p>
						您的文件是公司最珍贵的资产之一，因此您要时刻防备着出现意外删除和设备丢失等情况。
					</p>
					<p>
						但是，当前的工具不但难用，而且费时费钱。无论是手动将数据加载到外接硬盘、光盘和服务器，还是投资构建复杂而昂贵的备份解决方案，都会产生大量的工作。最糟糕的是，两种方案都不太可能保证存储的文件是最新版本。
					</p>
					<p>
						华炎云盘可自动对您最常处理的文件的最新版本进行安全备份，以便在您最需要之时提供保护。
					</p>
				</div>
			</div>
			<div class="col-md-offset-1 col-md-6">
				<img src="/cn/libs/img/drive/cloud2.png"/>
			</div>
		</div>
		<hr>
	</div>
</div>
<div class="section section-presentation">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-md-offset-1" style="float: right;">
				<div class="description">
					<h3 class="">同步是新的保存方式</h3>
					<p>
						您的团队无需再担心丢失文件。在文件保存时，华炎云盘会在后台同步文件，从而使内容获得备份并准备随时用于恢复，在此过程中无需您的团队成员进行任何额外的操作。
					</p>
					<p>
						同时利用我们的增量同步技术，我们只会更新文件中进行了更改的部分，因而备份起来快如闪电且毫不费力。
					</p>
				</div>
			</div>
			<div class="col-md-6">
				<img src="/cn/libs/img/drive/sync.png"/>
			</div>
		</div>
		<hr>
	</div>
</div>
<div class="section section-presentation">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="description">
					<h3 class="">自助式文件恢复, 减少IT部门的工作压力</h3>
					<p>
						IT 管理员已经身负重任，恢复删除的文件和版本不能成为他们的工作内容之一。
					</p>
					<p>
						华炎云盘企业版不但提供无限制删除内容恢复和无限制版本历史记录，而且恢复文件的过程也异常简单，员工们只需单击几下鼠标便可恢复自己的文件。
					</p>
					<p>
						如果您需要批量恢复，我们提供了实时电话支持和专属支持团队来帮助您将数据恢复到正确状态。
					</p>
				</div>
			</div>
			<div class="col-md-offset-1 col-md-6">
				<img src="/cn/libs/img/drive/backup3.png"/>
			</div>
		</div>
		<hr>
	</div>
</div>

